.p-5.mb-4.bg-light.rounded-3
  .container-fluid.py-5
    %h1.display-5.fw-bold
      What do you want to learn today?
    %p 
    .form.d-flex
      - if current_user
        = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
          .input-group
            = f.search_field :title_cont, class: 'form-control-sm', placeholder: 'Find a course', :autocomplete => :off
            %button.btn.btn-success{:type => "submit"}
              %span.bi.bi-search{"aria-hidden" => "true"}
%br
.card-group
  .card.card-body
    %h1
      .bi.bi-journal-check
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .bi.bi-person-badge
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .bi.bi-mortarboard-fill
    = User.count
    active learners
    .row
    Join the knowledge sharing community
  .card.card-body
    %h1
      .bi.bi-infinity
    Lifetime access
    .row
    Learn on your schedule

%hr
%div.container
  %h2
    Popular Courses 
  .row.row-cols-1.row-cols-md-3.g-4
    - @courses.each do |course|
      .col
        = render 'courses/course', course: course 
%div.container
  %h2
    Latest Courses 
  .row.row-cols-1.row-cols-md-3.g-4
    - @latest_courses.each do |course|
      .col
        = render 'courses/course', course: course