.card 
  .card-body 
    %h5.card-title 
      = link_to course.title, course_path(course)
    %p.card-text
      = course.description 
    = link_to 'Show', course, class: 'btn btn-sm btn-primary'
    = link_to 'Edit', edit_course_path(course), class: 'btn btn-sm btn-warning'
    = link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
  .card-footer 
    = course.created_at.strftime('%d-%b-%Y')
    = course.user 