%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    %a.navbar-brand{:href => "/"} Rubygems
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      - if current_user
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
            = link_to root_path, class: 'nav-link' do
              .bi.bi-house-fill &nbsp Home
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
            = link_to courses_path, class: 'nav-link' do
              .bi.bi-journals &nbsp Courses
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(users_path)}"}
            = link_to users_path, class: 'nav-link' do
              .bi.bi-person-circle &nbsp Users
        .form.d-flex 
          = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
            .div.input-group
              = f.search_field :title_cont, :placeholder => "Search", class: 'form-control'
              %button.btn.btn-success{:type => "submit"}
                %span.bi.bi-search{"aria-hidden" => "true"}
        -# .form.d-flex 
        -#   = form_with url: :courses, method: :get do |form|
        -#     .div.input-group
        -#       = form.text_field :query, class: "form-control me-2", :placeholder => "Search", :type => "search"
        -#       = form.submit "Search", class: "btn btn-outline-success"
        -# %form.d-flex
        -#   %input.form-control.me-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
        -#   %button.btn.btn-outline-success{:type => "submit"} Search
        %ul.navbar-nav.mr-right
          %li.nav-item{class: "#{'active font-weight-bold' if current_page?(home_activity_path)}"}
            = link_to home_activity_path, class: 'nav-link' do
              .bi.bi-bell-fill &nbsp Activity
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              %b= current_user.email
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
              %li
                = link_to edit_user_registration_path, class: "dropdown-item" do 
                  .bi.bi-gear-fill &nbsp Account Settings
              %li
                = button_to destroy_user_session_path, method: :delete, data: { turbo: false}, class: "dropdown-item" do 
                  .bi.bi-box-arrow-right &nbsp Sign Out
      - else 
        %ul.navbar-nav
          %li.nav-item= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'
          %li.nav-item= link_to 'Log In', new_user_session_path, class: 'nav-link'